h1 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
  color: rgb(215,228,240);
  text-align: center;
  font-size:2vw;
  font-family: 'Pathway Gothic One', sans-serif;
}

.cardvalue {
  position: absolute;
  font-weight: 600;
  font-size:1.25vw;
  color: rgb(215,228,240);
  font-family: 'Pathway Gothic One', sans-serif;
}

.backgroundIcon {
  position: absolute;
}